
rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
// Functions
  function isSignedIn(userId) {
    return (request.auth.uid == userId);
  }

  function isResourceChecked() {
    return (resource.data.profileSubmitted == true);
  }

  function isAdmin() {
    return (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true);
  }

  match /users/{userId} {
    allow read: if isSignedIn(userId) || isResourceChecked() || isAdmin();
    allow update, delete: if isSignedIn(userId) || isAdmin();
    allow create: if isSignedIn(userId);
    }
  }
}




